.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 60px;
}


.tags{
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 70%;
}

.acads{
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.admissions{
  gap: 30px;
  display: flex;
  flex-direction: column;
}